.nyc_output
.env.json
npm-debug.log
node_modules
coverage
dist
build
static
assets
src/shared/Portfolio/data.js
src/shared/About/data.js

# Vim temporary files
*~
*.swp
*.swo
.*.sw*

# Sublime Files
*.sublime-workspace
